<?xml version="1.0" encoding="utf-8"?>
<manifest 	xmlns:android="http://schemas.android.com/apk/res/android"
    		package="com.lockscreen"
    		android:versionCode="1"
    		android:versionName="1.0" 
    		android:debuggable="true">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    
    <application 	android:icon="@drawable/circle"
        			android:label="@string/app_name"
        			android:debuggable="true"
        			android:theme="@style/Theme.MyTheme">
        		        
		<activity 	android:label="@string/app_name" 
					android:name=".LockScreenAppActivity"										
					android:theme="@style/SliderTheme"  
					android:exported="true" 
					android:launchMode="singleInstance" 
					android:screenOrientation="portrait">					
            <!-- 
            	android:theme="@style/Theme.Transparent"
            	android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            -->		
		    
            <intent-filter >                
                <action 	android:name="ginlemon.smartlauncher.lockscreen" />
                <!-- 
                <category 	android:name="android.intent.category.LAUNCHER" />                
                <category 	android:name="android.intent.category.HOME" />
                <category 	android:name="android.intent.category.DEFAULT" />
                 -->
            </intent-filter>
            
        </activity>
		
    </application>
</manifest>